/.vscode
/.DS_Store
/Hashconsing Vault/.obsidian
/Hashconsing Vault/.DS_Store
/bdds/target
/benchmark/venv
/bdds/out1.txt
/bdds/out33.txt
/bdds/out50.txt
/bdds/out67.txt
/bdds/outone.txt
/bdds/output.txt